@model KOP.WEB.Models.ViewModels.Supervisor.EmployeeGradeLayoutViewModel

@{
    Layout = null;
}

<div class="user_info_container margin_container_bottom_small">
    <div class="user_info">
        <div class="title">
            @Model.FullName
        </div>

    </div>

    <div class="user_image_wrapper">
        <div class="user_image" style="background-image:url('@Model.ImagePath');"></div>
    </div>
</div>


<div class="user_info_container  margin_container_bottom">
    <div class="user_info extra_info">
        <div class="description_wrapper">
            <div class="mid_title">Должность:</div>
            <div class="description">
                @Model.Position
            </div>
        </div>

        <div class="description_wrapper">
            <div class="mid_title">Подразделение:</div>
            <div class="description">
                @Model.SubdivisionFromFile
            </div>
        </div>

        <div class="description_wrapper">
            <div class="mid_title">Группа грейда:</div>
            <div class="description">
                @Model.GradeGroup
            </div>
        </div>

        <div class="description_wrapper">
            <div class="mid_title">Срок работы в Банке:</div>
            <div class="description">
                @Model.WorkPeriod
            </div>
        </div>

        <div class="description_wrapper">
            <div class="mid_title">Дата окончания контракта:</div>
            <div class="description">
                @Model.ContractEndDate
            </div>
        </div>

        <div class="description_wrapper">

            <div class="mid_title">Период оценки:</div>
            @if (Model.LastGrade != null)
            {
                <div class="description">
                    @Model.LastGrade.StartDate -  @Model.LastGrade.EndDate
                </div>
            }
            else
            {
                <div class="description">
                    -
                </div>
            }
        </div>

    </div>
</div>


<div class="results_container margin_container_bottom">
    <div class="container_description">
        <div class="mid_title">
            Результаты
        </div>
    </div>
    @if (Model.LastGrade == null)
    {
        <div class="undefined_page_wrapper">
            <div class="title">
                Оценка не найдена
            </div>
            <img src="/image/undefinedpage.svg" alt="default_page">
        </div>
    }
    else
    {    
        <div class="result_user_list ">           
            @if (User.IsInRole("Urp") || User.IsInRole("Curator") || User.IsInRole("Supervisor") || User.IsInRole("Uop"))
            {
                <div class="margin_container_bottom_small">
                    <div class="result_item">
                        <span>01</span>
                        <div class="mid_title">Результаты деятельности руководителя, достигнутые им при исполнении должностных обязанностей</div>
                        <div class="result_item_popup_btn" onclick="getStrategicTasksPopup(@Model.LastGrade.Id)">
                            Подробнее
                            <i class="fa-solid fa-circle-arrow-right" style="color: #1b74fd;"></i>
                        </div>
                    </div>
                </div>
            }
            @if (User.IsInRole("Urp") || User.IsInRole("Curator") || User.IsInRole("Supervisor") || User.IsInRole("Cup") || User.IsInRole("Uop"))
            {
                <div class="result_item margin_container_bottom_small">
                    <span>02</span>
                    <div class="mid_title">Результаты выполнения стратегических проектов и задач</div>
                    <div class="result_item_popup_btn" onclick="getProjectsPopup(@Model.LastGrade.Id)">
                        Подробнее
                        <i class="fa-solid fa-circle-arrow-right" style="color: #1b74fd;"></i>
                    </div>
                </div>

            }
            @if (User.IsInRole("Urp") || User.IsInRole("Curator") || User.IsInRole("Supervisor") || User.IsInRole("Umst") || User.IsInRole("Uop"))
            {
                <div class="margin_container_bottom_small">
                    <div class="result_item">
                        <span>03</span>
                        <div class="mid_title">Результаты выполнения ключевых показателей эффективности деятельности</div>
                        <div class="result_item_popup_btn" onclick="getKpisPopup(@Model.LastGrade.Id)">
                            Подробнее
                            <i class="fa-solid fa-circle-arrow-right" style="color: #1b74fd;"></i>
                        </div>
                    </div>
                </div>
            }
            @if (User.IsInRole("Urp") || User.IsInRole("Supervisor") || User.IsInRole("Curator") || User.IsInRole("Uop"))
            {
                <div class="margin_container_bottom_small">
                    <div class="result_item">
                        <span>04</span>
                        <div class="mid_title">Оценка управленческих компетенций</div>
                        <div class="result_item_popup_btn" onclick="getManagmentCompetenciesPopup(@Model.Id, @Model.LastGrade.Id)">
                            Подробнее
                            <i class="fa-solid fa-circle-arrow-right" style="color: #1b74fd;"></i>
                        </div>
                    </div>
                </div>
                <div class="margin_container_bottom_small">
                    <div class="result_item">
                        <span>05</span>
                        <div class="mid_title">Оценка корпоративных компетенций</div>
                        <div class="result_item_popup_btn" onclick="getCorporateCompetenciesPopup(@Model.Id, @Model.LastGrade.Id)">
                            Подробнее
                            <i class="fa-solid fa-circle-arrow-right" style="color: #1b74fd;"></i>
                        </div>
                    </div>
                </div>
            }
            @if (User.IsInRole("Urp") || User.IsInRole("Curator") || User.IsInRole("Supervisor") || User.IsInRole("Uop"))
            {
                <div class="result_item margin_container_bottom_small">
                    <span>06</span>
                    <div class="mid_title">Управление персоналом</div>
                    <div class="result_item_popup_btn" onclick="getMarksPopup(@Model.LastGrade.Id)">
                        Подробнее
                        <i class="fa-solid fa-circle-arrow-right" style="color: #1b74fd;"></i>
                    </div>
                </div>
               
            }
            @if (User.IsInRole("Urp") || User.IsInRole("Supervisor") || User.IsInRole("Curator") || User.IsInRole("Uop"))
            {
                <div class="result_item margin_container_bottom_small">
                    <span>07</span>
                    <div class="mid_title">Обучающие мероприятия</div>
                    <div class="result_item_popup_btn" onclick="getTrainingEventsPopup(@Model.LastGrade.Id)">
                        Подробнее
                        <i class="fa-solid fa-circle-arrow-right" style="color: #1b74fd;"></i>
                    </div>
                </div>
            }
            @if (User.IsInRole("Urp") || User.IsInRole("Curator") || User.IsInRole("Supervisor") || User.IsInRole("Uop"))
            {
                <div class="margin_container_bottom_small">
                    <div class="result_item">
                        <span>08</span>
                        <div class="mid_title">Квалификация Руководителя</div>
                        <div class="result_item_popup_btn" onclick="getQualificationPopup(@Model.LastGrade.Id)">
                            Подробнее
                            <i class="fa-solid fa-circle-arrow-right" style="color: #1b74fd;"></i>
                        </div>
                    </div>
                </div>
            }
            @if (User.IsInRole("Urp") || User.IsInRole("Supervisor") || User.IsInRole("Curator") || User.IsInRole("Uop"))
            {
                <div class="result_item margin_container_bottom_small">
                    <span>09</span>
                    <div class="mid_title">ОС от руководителя</div>
                    <div class="result_item_popup_btn" onclick="getValueJudgmentPopup(@Model.LastGrade.Id)">
                        Подробнее
                        <i class="fa-solid fa-circle-arrow-right" style="color: #1b74fd;"></i>
                    </div>
                </div>
            }
        </div>
    }
</div>