@model KOP.WEB.Models.ViewModels.Employee.GradeLayoutViewModel
@using GradeStatuses = KOP.Common.Enums.GradeStatuses;

@{
    Layout = null;
}

<div class="user_info_container user_info_block margin_container_bottom_small">
    <div class="user_info">
        <div class="title">
            @Model.FullName
        </div>
        <div class="description_wrapper">
            <div class="mid_title">@Model.Position</div>
        </div>
        @if (Model.GradeStatus == GradeStatuses.APPROVED_BY_EMPLOYEE)
        {
            <div class="status_btn_wrapper done_status">
                Сотрудник ознакомлен
            </div>
        }
        else if (Model.GradeStatus == GradeStatuses.COMPLETED)
        {
            <div class="status_btn_wrapper done_status">
                Оценка завершена
            </div>
        }
    </div>
    <div class="user_image_wrapper">
        <div class="user_image" style="background-image:url('@Model.ImagePath');"></div>
    </div>

</div>

<div class="user_info_container user_info_block  margin_container_bottom_small">
    <div class="user_info extra_info">
        <div class="mid_title header_info_block">
            Общая информация
        </div>

        <div class="description_wrapper">
            <div class="description">Подразделение</div>
            <div class="mid_title">
                @Model.SubdivisionFromFile
            </div>
        </div>
        <div class="description_wrapper">
            <div class=" description">Группа грейда</div>
            <div class="mid_title">
                @Model.GradeGroup
            </div>
        </div>
        <div class="description_wrapper">
            <div class="description">Срок работы в Банке</div>
            <div class="mid_title ">
                @Model.WorkPeriod
            </div>
        </div>
        <div class="description_wrapper">
            <div class="description">Дата окончания контракта</div>
            <div class="mid_title ">
                @Model.ContractEndDate
            </div>
        </div>
        <div class="description_wrapper">
            <div class="description">Период оценки</div>
            @if (Model.LastGradeDto != null)
            {
                <div class="mid_title ">
                    @Model.LastGradeDto.StartDate -  @Model.LastGradeDto.EndDate
                </div>
            }
            else
            {
                <div class="mid_title">
                    -
                </div>
            }
        </div>

    </div>
</div>

<div class="results_container margin_container_bottom">

    @if (Model.LastGradeDto == null)
    {
        <div class="undefined_page_wrapper">

            <div class="container_description">
                <div class="title">
                    Оценки пока отсутствуют
                </div>
                <div class="mid_description">
                    Здесь будут отображаться результаты оценок после их добавления
                </div>
            </div>
            <div class="empty_state_image_wrapper_middle">
                <img src="/image/EmptyState.png" alt="default_page">
            </div>
        </div>
    }
    else
    {

        <div class="container_description">
            <div class="mid_title">
                Результаты
            </div>
        </div>

        <div class="result_user_list ">
            <div class="margin_container_bottom_small">
                <div class="result_item">
                    @if (Model.LastGradeDto.IsStrategicTasksFinalized)
                    {
                        <span class="result_item_status green">
                            <i class="fa-solid fa-check"></i>
                        </span>

                    }
                    else
                    {
                        <span class="result_item_status yellow">
                            <i class="fa-regular fa-clock"></i>
                        </span>
                    }
                    <div class="mid_title">Результаты деятельности руководителя, достигнутые им при исполнении должностных обязанностей</div>

                    <div class="result_item_popup_btn" onclick="getStrategicTasksPopup(@Model.LastGradeDto.Id)">
                        Подробнее
                        <i class="fa-solid fa-circle-arrow-right"></i>
                    </div>

                    @if (!Model.LastGradeDto.IsStrategicTasksFinalized)
                    {
                        <span class="indicator_assessment">
                            <i class="fa-regular fa-eye" style="color: #ffffff;"></i>
                        </span>
                    }
                </div>
            </div>

            <div class="result_item margin_container_bottom_small">

                @if (Model.LastGradeDto.IsProjectsFinalized)
                {
                    <span class="result_item_status green">
                        <i class="fa-solid fa-check"></i>
                    </span>

                }
                else
                {
                    <span class="result_item_status yellow">
                        <i class="fa-regular fa-clock"></i>
                    </span>
                }
                <div class="mid_title">Результаты выполнения стратегических проектов и задач</div>
                <div class="result_item_popup_btn" onclick="getProjectsPopup(@Model.LastGradeDto.Id)">

                    Подробнее
                    <i class="fa-solid fa-circle-arrow-right"></i>

                </div>

            </div>

            <div class="margin_container_bottom_small">
                <div class="result_item">

                    @if (Model.LastGradeDto.IsKpisFinalized)
                    {
                        <span class="result_item_status green">
                            <i class="fa-solid fa-check"></i>
                        </span>

                    }
                    else
                    {
                        <span class="result_item_status yellow">
                            <i class="fa-regular fa-clock"></i>
                        </span>
                    }
                    <div class="mid_title">Результаты выполнения ключевых показателей эффективности деятельности</div>
                    <div class="result_item_popup_btn" onclick="getKpisPopup(@Model.LastGradeDto.Id)">

                        Подробнее
                        <i class="fa-solid fa-circle-arrow-right"></i>

                    </div>
                </div>
            </div>

            <div class="margin_container_bottom_small">
                <div class="result_item">
                    @if (Model.IsManagmentCompetenciesFinalized)
                    {
                        <span class="result_item_status green">
                            <i class="fa-solid fa-check"></i>
                        </span>
                    }
                    else
                    {
                        <span class="result_item_status yellow">
                            <i class="fa-regular fa-clock"></i>
                        </span>
                    }
                    <div class="mid_title">Оценка управленческих компетенций</div>
                    <div class="result_item_popup_btn" onclick="getManagmentCompetenciesPopup(@Model.Id, @Model.LastGradeDto.Id)">
                        Подробнее
                        <i class="fa-solid fa-circle-arrow-right"></i>
                    </div>
                </div>
            </div>

            <div class="margin_container_bottom_small">
                <div class="result_item">
                    @if (Model.IsCorporateCompetenciesFinalized)
                    {
                        <span class="result_item_status green">
                            <i class="fa-solid fa-check"></i>
                        </span>

                    }
                    else
                    {
                        <span class="result_item_status yellow">
                            <i class="fa-regular fa-clock"></i>
                        </span>
                    }
                    <div class="mid_title">Оценка корпоративных компетенций</div>
                    <div class="result_item_popup_btn" onclick="getCorporateCompetenciesPopup(@Model.Id, @Model.LastGradeDto.Id)">
                        Подробнее
                        <i class="fa-solid fa-circle-arrow-right"></i>
                    </div>
                </div>
            </div>

            <div class="result_item margin_container_bottom_small">
                @if (Model.LastGradeDto.IsMarksFinalized)
                {
                    <span class="result_item_status green">
                        <i class="fa-solid fa-check"></i>
                    </span>

                }
                else
                {
                    <span class="result_item_status yellow">
                        <i class="fa-regular fa-clock"></i>
                    </span>
                }
                <div class="mid_title">Управление персоналом</div>
                <div class="result_item_popup_btn" onclick="getMarksPopup(@Model.LastGradeDto.Id)">
                    Подробнее
                    <i class="fa-solid fa-circle-arrow-right"></i>

                </div>
            </div>

            <div class="result_item margin_container_bottom_small">

                <span class="result_item_status green">
                    <i class="fa-solid fa-check"></i>
                </span>
                <div class="mid_title">Обучающие мероприятия</div>
                <div class="result_item_popup_btn" onclick="getTrainingEventsPopup(@Model.LastGradeDto.Id)">
                    Подробнее
                    <i class="fa-solid fa-circle-arrow-right"></i>
                </div>
            </div>

            <div class="margin_container_bottom_small">
                <div class="result_item">

                    @if (Model.LastGradeDto.IsQualificationFinalized)
                    {
                        <span class="result_item_status green">
                            <i class="fa-solid fa-check"></i>
                        </span>
                    }
                    else
                    {
                        <span class="result_item_status yellow">
                            <i class="fa-regular fa-clock"></i>
                        </span>
                    }
                    <div class="mid_title">Квалификация Руководителя</div>
                    <div class="result_item_popup_btn" onclick="getQualificationPopup(@Model.LastGradeDto.Id)">

                        Подробнее
                        <i class="fa-solid fa-circle-arrow-right"></i>

                    </div>
                </div>
            </div>

            <div class="result_item margin_container_bottom_small">
                @if (Model.LastGradeDto.IsValueJudgmentFinalized)
                {
                    <span class="result_item_status green">
                        <i class="fa-solid fa-check"></i>
                    </span>

                }
                else
                {
                    <span class="result_item_status yellow">
                        <i class="fa-regular fa-clock"></i>
                    </span>
                }
                <div class="mid_title">ОС от руководителя</div>
                <div class="result_item_popup_btn" onclick="getValueJudgmentPopup(@Model.LastGradeDto.Id)">
                    Подробнее
                    <i class="fa-solid fa-circle-arrow-right"></i>

                </div>
            </div>
        </div>
    }
</div>

@if (Model.GradeStatus == GradeStatuses.READY_FOR_EMPLOYEE_APPROVAL)
{
    <div class="actions_container">
        <div class="action_buttons_wrapper">
            <div onclick="approveGrade(@Model.LastGradeDto.Id, @Model.Id)" class="action_btn green_btn full_width">
                Ознакомиться
            </div>
        </div>
    </div>
}