@model KOP.WEB.Models.ViewModels.Shared.ManagmentCompetenciesViewModel

@using SystemStatuses = KOP.Common.Enums.SystemStatuses

@{
    Layout = null;
}

<div class="popup_content">

    <div class="popup_content_header margin_container_bottom_middle">
        <div class="title">
            Оценка управленческих компетенций
        </div>

        <div class="description">
            @Model.Conclusion
        </div>
    </div>

    @if (Model.LastCompletedAssessmentResults.Any())
    {
        var rows = Model.LastCompletedAssessmentResults.First().ElementsByRow;

        <div>Оценка (от 0 до 13, где 13 - высший балл)</div>
        <table class="table_popup">
            <thead>
                <tr>
                    @foreach (var headerElement in rows[0]) // Выводим строку, являющуся заголовком матрицы (самая верхняя)
                    {
                        <th class="table_header_elem">
                            @headerElement.Value
                        </th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var row in rows) // Выводим остальные строки
                {
                    <tr>
                        @foreach (var element in row)
                        {
                            <td class="mid_description">@element.Value</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
        @foreach (var result in Model.LastCompletedAssessmentResults) // Проходим по всем завершенным результатам кач. оценки
        {
            var judgeId = result.Judge.Id;
            var judgedId = result.Judged.Id;

            <table class="table_popup">
                <thead>
                    <tr>
                        @if (judgeId == judgedId) // Если оценщник = оцениваемый => самооценка
                        {
                            <th class="table_header_elem">
                                Самооценка (ФИО сотрудника)
                            </th>
                        }
                        else
                        {
                            <th class="table_header_elem">
                                Оценка непосредственного руководителя (ФИО руководителя сотрудника)
                            </th>
                        }
                    </tr>
                    <tr>
                        <th class="table_header_elem">
                            балл
                        </th>
                        <th class="table_header_elem">
                            интерпретация
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 1; i < rows.Count(); i++)
                    {
                        var rowValue = @result.Values.First(x => x.AssessmentMatrixRow == i).Value;

                        <tr>
                            @foreach (var element in rows[i])
                            {
                                <td class="mid_description">@element.Value</td>
                            }
                            <td>
                                <div class="mid_description">@rowValue</div>
                            </td>
                            <td>
                                •Выявляет причины возникновения проблемных ситуаций, в дальнейшем действует таким образом, чтобы предупредить возникновение подобных ситуаций в будущем;
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    }
    else
    {
        <div>
            Тут пока ничего нет
        </div>
    }
</div>