@model KOP.WEB.Models.ViewModels.Shared.ProjectsViewModel

@{
	Layout = null;
}


@if (!Model.ViewAccess)
{
	<div class="undefined_page_wrapper">
		<div class="title">
			Результаты выполнения стратегических проектов и задач не заполнены окончательно
		</div>
		<img src="/image/undefinedpage.svg" alt="default_page">
	</div>
}
else
{
	<form id="popupForm">
		<input type="hidden" asp-for="GradeId">
		<div asp-validation-summary="All">
			<!-- Ошибки валидации будут отображаться тут-->
		</div>
		<div class="popup_content">
			<div class="popup_content_header margin_container_bottom_middle">
				<div class="title">
					Результаты выполнения стратегических проектов и задач
				</div>
			</div>
			<div class="project_info_list" id="rowContainer">

				@for (int i = 0; i < Model.Projects.Count; i++)
				{
					var project = Model.Projects[i];
					var startDateTime = project.StartDateTime.ToString("yyyy-MM-dd");
					var endDateTime = project.EndDateTime.ToString("yyyy-MM-dd");
					var currentStatusDateTime = project.CurrentStatusDateTime.ToString("yyyy-MM-dd");
					<div>
						<div class="mid_title">
							Проект @(i + 1)
						</div>
						<div>
							<input type="text" asp-for="Projects[i].SupervisorSspName" value="@project.SupervisorSspName" disabled="@(Model.EditAccess ? null : "disabled")" />
							является заказчиком стратегического проекта
							<input type="text" asp-for="Projects[i].Name" value="@project.Name" disabled="@(Model.EditAccess ? null : "disabled")" />
						</div>
						<div>
							Проект находится на этапе
							<input type="text" asp-for="Projects[i].Stage" value="@project.Stage" disabled="@(Model.EditAccess ? null : "disabled")" />
						</div>
						<div>
							Дата открытия проекта -
							<input type="date" asp-for="Projects[i].StartDateTime" value="@startDateTime" disabled="@(Model.EditAccess ? null : "disabled")" />
						</div>
						<div>
							Срок реализации проекта -
							<input type="date" asp-for="Projects[i].EndDateTime" value="@endDateTime" disabled="@(Model.EditAccess ? null : "disabled")" />
						</div>
						<div>
							На число
							<input type="date" asp-for="Projects[i].CurrentStatusDateTime" value="@currentStatusDateTime" disabled="@(Model.EditAccess ? null : "disabled")" /> по проекту выполнены
							<input type="number" asp-for="Projects[i].FactStages" value="@project.FactStages" disabled="@(Model.EditAccess ? null : "disabled")" /> из
							<input type="number" asp-for="Projects[i].PlanStages" value="@project.PlanStages" disabled="@(Model.EditAccess ? null : "disabled")" /> этапов
						</div>
						<div>
							Коэффициент реализации проекта -
							<input type="number" asp-for="Projects[i].SPn" value="@project.SPn" disabled="@(Model.EditAccess ? null : "disabled")" /> %
						</div>
						@if (Model.EditAccess)
						{
							<div>
								<i class="fa-solid fa-trash" style="color: #db1a1a;" onclick="deleteProject(@Model.Projects[i].Id, @Model.GradeId)"></i>
							</div>
						}
					</div>
				}
			</div>
			@if (Model.EditAccess)
			{
				<div class="add_row_btn add_project" onclick="addRow(this,'project')">Добавить</div>
			}
		</div>
		@if (Model.EditAccess)
		{
			<button type="button" class="add_row_btn" onclick="saveProjectsAsDraft(@Model.GradeId)">Сохранить как черновик</button>
			<button type="button" class="add_row_btn" onclick="saveProjectsAsFinal(@Model.GradeId)">Сохранить окончательно</button>
		}
	</form>
}