@model KOP.WEB.Models.ViewModels.Shared.ProjectsViewModel

@{
	Layout = null;
}

@if (!Model.ViewAccess)
{
	<div class="undefined_page_wrapper">
		<div class="title">
			Результаты выполнения стратегических проектов и задач не заполнены
		</div>
		<div class="empty_state_image_wrapper_middle">
			<img src="/image/EmptyState.png" alt="default_page">
		</div>
	</div>
}
else
{
	<form id="popupForm">
		<input type="hidden" asp-for="GradeId">
		<div asp-validation-summary="All">
			<!-- Ошибки валидации будут отображаться тут-->
		</div>
		<div class="popup_content">
			<div class="popup_content_header margin_container_bottom_middle">
				<div class="title">
					Результаты выполнения стратегических проектов и задач
				</div>
				@if (Model.Projects.Any())
				{
					@if (Model.EditAccess)
					{
						<div class="description">
							Выполнение стратегических проектов за отчетный период, Qn2 <input type="number" asp-for="Qn2" value="@Model.Qn2" disabled="@(Model.EditAccess ? null : "disabled")"> %
						</div>
					}
					else
					{
						<b>Выполнение стратегических проектов за отчетный период, Qn2 @Model.Qn2 %</b>
					}
				}
				else
				{
					<div class="description">
						За оцениваемый период @Model.SelectedUserFullName не являлся (лась) заказчиком или руководителем какого-либо стратегического проекта
					</div>
				}
			</div>
			<div class="project_info_list" id="rowContainer">
				@for (int i = 0; i < Model.Projects.Count; i++)
				{
					var project = Model.Projects[i];
					var startDateTime = project.StartDateTime.ToString("yyyy-MM-dd");
					var endDateTime = project.EndDateTime.ToString("yyyy-MM-dd");
					<div>
						<div class="mid_title">
							Проект @(i + 1)
						</div>

						<div class="project_info_content">
							<div>

								<b>@Model.SelectedUserFullName</b>

								является
								@if (Model.EditAccess)
								{
									<input type="text" asp-for="Projects[i].UserRole" value="@project.UserRole" disabled="@(Model.EditAccess ? null : "disabled")" />
								}
								else
								{
									<b>@project.UserRole</b>
								}

								стратегического проекта
								@if (Model.EditAccess)
								{
									<input type="text" asp-for="Projects[i].Name" value="@project.Name" disabled="@(Model.EditAccess ? null : "disabled")" />
								}
								else
								{
									<b>@project.Name</b>
								}

							</div>
							<div>
								Проект
								@if (Model.EditAccess)
								{
									<input type="text" asp-for="Projects[i].Stage" value="@project.Stage" disabled="@(Model.EditAccess ? null : "disabled")" />
								}
								else
								{
									<b>@project.Stage</b>
								}

							</div>
							<div>
								Дата открытия проекта
								@if (Model.EditAccess)
								{
									<input type="date" asp-for="Projects[i].StartDateTime" value="@startDateTime" disabled="@(Model.EditAccess ? null : "disabled")" min="1994-01-01" />
								}
								else
								{
									<b>@startDateTime</b>
								}

							</div>
							<div>
								Дата окончания проекта(план)
								@if (Model.EditAccess)
								{
									<input type="date" asp-for="Projects[i].EndDateTime" value="@endDateTime" disabled="@(Model.EditAccess ? null : "disabled")" min="1994-01-01" />
								}
								else
								{
									<b>@endDateTime</b>
								}
							</div>
							<div>
								Коэффициент успешности проекта
								@if (Model.EditAccess)
								{
									<input type="number" asp-for="Projects[i].SuccessRate" value="@project.SuccessRate" disabled="@(Model.EditAccess ? null : "disabled")" />
								}
								else
								{
									<b>@project.SuccessRate</b>
								}
								%
							</div>
							<div>
								Средний KPI проекта
								@if (Model.EditAccess)
								{
									<input type="number" asp-for="Projects[i].AverageKpi" value="@project.AverageKpi" disabled="@(Model.EditAccess ? null : "disabled")" />
								}
								else
								{
									<b>@project.AverageKpi</b>
								}
								%
							</div>
							<div>
								Оценка реализации проекта SP
								@if (Model.EditAccess)
								{
									<input type="number" asp-for="Projects[i].SP" value="@project.SP" disabled="@(Model.EditAccess ? null : "disabled")" />
								}
								else
								{
									<b>@project.SP</b>
								}
								%
							</div>
							@if (Model.EditAccess)
							{
								<div>
									<i class="fa-solid fa-trash" style="color: #db1a1a;" onclick="deleteProject(@Model.Projects[i].Id, @Model.GradeId)"></i>
								</div>
							}
						</div>

					</div>
				}
			</div>
			@if (Model.EditAccess)
			{
				<div class="add_row_btn add_project" onclick="addRow(this,'project')"><i class="fa-solid fa-circle-plus"></i> Добавить</div>
			}
		</div>
		@if (Model.EditAccess)
		{
			<button type="button" class="add_row_btn" onclick="saveProjectsAsDraft(@Model.GradeId)">Сохранить как черновик</button>
			<button type="button" class="add_row_btn" onclick="saveProjectsAsFinal(@Model.GradeId,@Model.SelectedUserId)">Сохранить</button>
		}
	</form>
}