@model KOP.WEB.Models.ViewModels.Shared.QualificationViewModel

@{
    Layout = null;

    var startDateTime = Model.Qualification.StartDateTime.ToString("yyyy-MM-dd");
    var endDateTime = Model.Qualification.EndDateTime.ToString("yyyy-MM-dd");
    var currentStatusDateTime = Model.Qualification.CurrentStatusDateTime.ToString("yyyy-MM-dd");
    var currentJobStartDateTime = Model.Qualification.CurrentJobStartDateTime.ToString("yyyy-MM-dd");
}

@if(!Model.ViewAccess)
{
    <div class="undefined_page_wrapper">
        <div class="title">
            Квалификация Руководителя не заполнена
        </div>
        <div class="empty_state_image_wrapper_middle">
            <img src="/image/EmptyState.png" alt="default_page">
        </div>
    </div>
}
else{
    <form id="popupForm">
        <input type="hidden" asp-for="GradeId">
        <input type="hidden" asp-for="Qualification.Id">
        <div asp-validation-summary="All" class="text-danger">
            <!-- Ошибки валидации будут отображаться тут-->
        </div>
        <div class="popup_content">
            <div class="popup_content_header margin_container_bottom_middle">
                <div class="title">
                    Квалификация Руководителя
                </div>
                @if (!string.IsNullOrEmpty(Model.Conclusion))
                {
                    <div class="description">
                        <input type="text" asp-for="Conclusion" value="@Model.Conclusion" disabled="@(Model.ConclusionEditAccess ? null : "disabled") " required />
                    </div>
                }
                
            </div>
            <div>
                Соответствие
                @if (Model.EditAccess)
                {
                    <input type="text" asp-for="Qualification.SupervisorSspName" value="@Model.Qualification.SupervisorSspName" required />
                }
                else
                {
                    <b>@Model.Qualification.SupervisorSspName</b>
                }

                квалификационным требованиям

                @if (Model.EditAccess)
                {
                    <input type="text" asp-for="Qualification.Link" value="@Model.Qualification.Link" required />
                }
                else
                {
                    <b>@Model.Qualification.Link</b>
                }
            </div>
            <div class="mid_title">
                1. Образование:
            </div>
            <div>
                - Высшее образование:
                @if (Model.EditAccess)
                {
                    <input type="text" asp-for="Qualification.HigherEducation" value="@Model.Qualification.HigherEducation" required />
                }
                else
                {
                    <b>@Model.Qualification.HigherEducation</b>
                }

                , специальность
                @if (Model.EditAccess)
                {
                    <input type="text" asp-for="Qualification.Speciality" value="@Model.Qualification.Speciality" required />
                }
                else
                {
                    <b>@Model.Qualification.Speciality</b>
                }

                , квалификация
                @if (Model.EditAccess)
                {
                    <input type="text" asp-for="Qualification.QualificationResult" value="@Model.Qualification.QualificationResult" required />
                }
                else
                {
                    <b>@Model.Qualification.QualificationResult</b>
                }
                , период обучения с
                @if (Model.EditAccess)
                {
                    <input type="date" asp-for="Qualification.StartDateTime" value="@startDateTime" required />
                }
                else
                {
                    <b>@startDateTime</b>
                }

                по
                @if (Model.EditAccess)
                {
                    <input type="date" asp-for="Qualification.EndDateTime" value="@endDateTime" required />
                }
                else
                {
                    <b>@endDateTime</b>
                }
            </div>
            <div>
                - Дополнительное образование (повышение квалификации):
                @if (Model.EditAccess)
                {
                    <input type="text" asp-for="Qualification.AdditionalEducation" value="@Model.Qualification.AdditionalEducation" />
                }
                else
                {
                    <b>@Model.Qualification.AdditionalEducation</b>
                }
            </div>
            <div class="mid_title">
                2. Стаж работы в банковской системе по состоянию на
                @if (Model.EditAccess)
                {
                    <input type="date" asp-for="Qualification.CurrentStatusDateTime" value="@currentStatusDateTime" />
                }
                else
                {
                    <b>@currentStatusDateTime</b>
                }

                -
                @if (Model.EditAccess)
                {
                    <input type="number" asp-for="Qualification.CurrentExperienceYears" value="@Model.Qualification.CurrentExperienceYears" />
                }
                else
                {
                    <b>@Model.Qualification.CurrentExperienceYears</b>
                }

                лет
                @if (Model.EditAccess)
                {
                    <input type="number" asp-for="Qualification.CurrentExperienceMonths" value="@Model.Qualification.CurrentExperienceMonths" />
                }
                else
                {
                    <b>@Model.Qualification.CurrentExperienceMonths</b>
                }

                мес., в т.ч.:
            </div>
            <div class="experience_list" id="rowContainer">
                @for (int i = 0; i < Model.Qualification.PreviousJobs.Count; i++)
                {
                    var previousJob = Model.Qualification.PreviousJobs[i];
                    var jobStartDateTime = previousJob.StartDateTime.ToString("yyyy-MM-dd");
                    var jobEndDateTime = previousJob.EndDateTime.ToString("yyyy-MM-dd");

                    <div class="experience_item">
                        c
                        @if (Model.EditAccess)
                        {
                            <input type="date" asp-for="Qualification.PreviousJobs[i].StartDateTime" value="@jobStartDateTime" />
                        }
                        else
                        {
                            <b>@jobStartDateTime</b>
                        }

                        по
                        @if (Model.EditAccess)
                        {
                            <input type="date" asp-for="Qualification.PreviousJobs[i].EndDateTime" value="@jobEndDateTime" />
                        }
                        else
                        {
                            <b>@jobEndDateTime</b>
                        }

                        -
                        @if (Model.EditAccess)
                        {

                            <input type="text" asp-for="Qualification.PreviousJobs[i].OrganizationName" value="@Model.Qualification.PreviousJobs[i].OrganizationName" />
                        }
                        else
                        {
                            <b>@Model.Qualification.PreviousJobs[i].OrganizationName</b>
                        }

                        -
                        @if (Model.EditAccess)
                        {
                            <input type="text" asp-for="Qualification.PreviousJobs[i].PositionName" value="@Model.Qualification.PreviousJobs[i].PositionName" />
                        }
                        else
                        {
                            <b>@Model.Qualification.PreviousJobs[i].PositionName</b>
                        }

                        ;
                    </div>
                    @if (Model.EditAccess)
                    {
                        <div>
                            <i class="fa-solid fa-trash" style="color: #db1a1a;" onclick="deletePreviousJob(@Model.Qualification.PreviousJobs[i].Id, @Model.GradeId)"></i>
                        </div>
                    }
                }
            </div>
            @if (Model.EditAccess)
            {
                <div class="add_row_btn add_project" onclick="addRow(this,'experience')"><i class="fa-solid fa-circle-plus"></i> Добавить</div>
            }
            <div>
                ЗАО "МТБанк":
            </div>
            <div>
                с
                @if (Model.EditAccess)
                {
                    <input type="date" asp-for="Qualification.CurrentJobStartDateTime" value="@currentJobStartDateTime" />
                }
                else
                {
                    <b>@currentJobStartDateTime</b>
                }

                по настоящее время -
                @if (Model.EditAccess)
                {
                    <input type="text" asp-for="Qualification.CurrentJobPositionName" value="@Model.Qualification.CurrentJobPositionName" />
                }
                else
                {
                    <b>@Model.Qualification.CurrentJobPositionName</b>
                }
            </div>
            <div class="mid_title">
                3. Дополнительная информация
            </div>
            <div>
                @if (Model.EditAccess)
                {
                    <input type="text" asp-for="Qualification.EmploymentContarctTerminations" value="@Model.Qualification.EmploymentContarctTerminations" />
                }
                else
                {
                    <b>@Model.Qualification.EmploymentContarctTerminations</b>
                }

                в течение последних двух лет факты расторжения трудового договора (контракта) по
                инициативе нанимателя в случае совершения лицом виновных действий,
                являющихся основаниями для утраты доверия к нему со стороны нанимателя.
            </div>
            <div>
                @if (Model.EditAccess)
                {
                    <input type="text" asp-for="Qualification.SupervisorSspName" value="@Model.Qualification.SupervisorSspName" />
                }
                else
                {
                    <b>@Model.Qualification.SupervisorSspName</b>
                }

                соответствует квалификационным требованиям и требованиям к деловой репутации.
            </div>
        </div>
        @if (Model.EditAccess)
        {
            <button type="button" class="add_row_btn" onclick="saveQualificationAsDraft(@Model.GradeId)">Сохранить как черновик</button>
            <button type="button" class="add_row_btn" onclick="saveQualificationAsFinal(@Model.GradeId)">Сохранить</button>
        }
    </form>
}