@model KOP.WEB.Models.ViewModels.Shared.StrategicTasksViewModel

@{
	Layout = null;
}

@if (!Model.ViewAccess)
{
	<div class="undefined_page_wrapper">
		<div class="title">
			Результаты деятельности руководителя не заполнены
		</div>
		<div class="empty_state_image_wrapper_middle">
			<img src="/image/EmptyState.png" alt="default_page">
		</div>
	</div>
}
else
{
	<form id="popupForm">
		<input type="hidden" asp-for="GradeId">
		<div asp-validation-summary="All">
			<!-- Ошибки валидации будут отображаться тут-->
		</div>
		<div class="popup_content">
			<div class="popup_content_header margin_container_bottom_middle">
				<div class="title">
					Результаты деятельности руководителя, достигнутые им при исполнении должностных обязанностей
				</div>

				@if (!string.IsNullOrEmpty(Model.Conclusion))
				{
					<div class="description">
						<input type="text" asp-for="Conclusion" value="@Model.Conclusion" disabled="@(Model.ConclusionEditAccess ? null : "disabled")">
					</div>
				}
				
				
			</div>
			<table class="table_popup">
				<thead>
					<tr>
						<th></th>
						<th></th>
						<th>Срок</th>
						<th></th>
						<th>Результат</th>
						<th></th>
						<th></th>
					</tr>
					<tr>
						<th>Название проекта / стратегической задачи</th>
						<th>Цель проекта / стратегической задачи</th>
						<th>План (дата)</th>
						<th>Факт (дата)</th>
						<th>План</th>
						<th>Факт</th>
						<th>Примечание (в случае несоответствия планового и фактического срока реализации / без результата)</th>
					</tr>
				</thead>
				<tbody id="rowContainer">
					@for (int i = 0; i < Model.StrategicTaskDtoList.Count; i++)
					{
                        var strategicTask = Model.StrategicTaskDtoList[i];
						var planDateTime = strategicTask.PlanDateTime.ToString("yyyy-MM-dd");
						var factDateTime = strategicTask.FactDateTime.ToString("yyyy-MM-dd");

                        <tr>
                            <td>
                                @if (Model.EditAccess)
                                {
                                    <textarea type="text" asp-for="StrategicTaskDtoList[i].Name">@strategicTask.Name</textarea>
                                }
                                else
                                {
                                    @strategicTask.Name
                                }
                            </td>
                            <td>
                                @if (Model.EditAccess)
                                {
                                    <textarea type="text" asp-for="StrategicTaskDtoList[i].Purpose">@strategicTask.Purpose</textarea>
                                }
                                else
                                {
                                   @strategicTask.Purpose
                                }
                            </td>
                            <td>
                                @if (Model.EditAccess)
                                {
                                    <input type="date" asp-for="StrategicTaskDtoList[i].PlanDateTime" value="@planDateTime" required min="1994-01-01" />
                                }
                                else
                                {
                                    @planDateTime
                                }
                            </td>
                            <td>
                                @if (Model.EditAccess)
                                {
                                    <input type="date" asp-for="StrategicTaskDtoList[i].FactDateTime" value="@factDateTime" required min="1994-01-01" />
                                }
                                else
                                {
                                    @factDateTime
                                }
                            </td>
                            <td>
                                @if (Model.EditAccess)
                                {
                                    <input type="text" asp-for="StrategicTaskDtoList[i].PlanResult" value="@strategicTask.PlanResult" required />
                                }
                                else
                                {
                                    @strategicTask.PlanResult
                                }
                            </td>
                            <td>
                                @if (Model.EditAccess)
                                {
                                    <input type="text" asp-for="StrategicTaskDtoList[i].FactResult" value="@strategicTask.FactResult" required />
                                }
                                else
                                {
                                    @strategicTask.FactResult
                                }
                            </td>
                            <td>
                                @if (Model.EditAccess)
                                {
                                    <textarea type="text" asp-for="StrategicTaskDtoList[i].Remark">@strategicTask.Remark</textarea>
                                }
                                else
                                {
                                    @strategicTask.Remark
                                }
                            </td>
                            @if (Model.EditAccess)
                            {
                                <td>
                                    <i class="fa-solid fa-trash" style="color: #db1a1a;" onclick="deleteStrategicTask(@Model.StrategicTaskDtoList[i].Id, @Model.GradeId)"></i>
                                </td>
                            }
                        </tr>
					}
				</tbody>
			</table>
			@if (Model.EditAccess)
			{
                <div class="add_row_btn add_project" onclick="addRow(this,'strategy')"><i class="fa-solid fa-circle-plus"></i> Добавить</div>
			}
		</div>
		@if (Model.EditAccess)
		{
			<button type="button" class="add_row_btn" onclick="saveStrategicTasksAsDraft(@Model.GradeId)">Сохранить как черновик</button>
			<button type="button" class="add_row_btn" onclick="saveStrategicTasksAsFinal(@Model.GradeId)">Сохранить</button>
		}
	</form>
}