@model KOP.Common.Dtos.SubdivisionDto

@{
    Layout = null;
}

<div class="list_division_users_wrapper users open">

    <div class="list-items">

        @if (Model.IsRoot)
        {
            <div class="select-btn open" onclick="toggleSelectButton(this)">
                <span class="btn-text">@Model.Name</span>
                <div class="indicators_wrapper" id="indicators_wrapper">
                </div>
                <span class="arrow-dwn">
                    <i class="fa-solid fa-chevron-down" aria-hidden="true"></i>
                </span>
            </div>
        }
        else
        {

            <div class="description"> <i class="fa-regular fa-folder"></i> @Model.Name</div>
        }

        @if (Model.Users.Any())
        {
            <table class="table_users">
                <thead class="table_header">
                    <tr>
                        <th class="table_header_elem">ФИО</th>
                        <th class="table_header_elem">Должность</th>
                        <th class="table_header_elem">Подразделение</th>
                        <th class="table_header_elem date">Дата оценки</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var employee in Model.Users)
                    {
                        <tr Id="@employee.Id" onclick="getEmployeeLayout(@employee.Id, this)" flagHide="" class="user_row">

                            <td class="fullname">
                                @employee.FullName
                            </td>
                            <td class="position">
                                @employee.Position
                            </td>
                            <td class="division">
                                @employee.SubdivisionFromFile
                            </td>
                            <td class="assessment_date">
                                @employee.NextGradeStartDate
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }

        @foreach (var child in Model.Children)
        {
            await Html.RenderPartialAsync("_Subordinate", child);
        }
    </div>
</div>