@model KOP.WEB.Models.ViewModels.Admin.UserRecommendationsViewModel

@{
    Layout = null;
}

<div class="popup_content">
    <input type="hidden" class="grade-id" value="@Model.GradeId" />
    <div class="popup_content_header margin_container_bottom_middle">
        <div class="title">
            Результат оценки управленческих компетенций:
        </div>
    </div>
    <table class="table_popup">
        <tr>
            <td>Самооценка</td>
            <td>@Model.SelfAssessmentSum балл</td>
        </tr>
        <tr>
            <td>Оценка руководителя</td>
            <td>@Model.SupervisorAssessmentSum балл</td>
        </tr>
    </table>
    <div class="popup_content_header margin_container_bottom_middle">
        <div class="title">
            Интерпретация результатов:
        </div>
    </div>
    <table class="table_popup">
        <thead>
            <tr>
                <th>Балл</th>
                <th>Уровень</th>
                <th>Компетентность</th>
            </tr>
        </thead>

        @if (Model.AssessmentInterpretation != null)
        {
            <tr class="@Model.AssessmentInterpretation.HtmlClassName">
                <td class="table_value">@Model.AssessmentInterpretation.MinValue -@Model.AssessmentInterpretation.MaxValue</td>
                <td class="table_level">@Model.AssessmentInterpretation.Level</td>
                <td class="table_text">@Model.AssessmentInterpretation.Competence</td>
            </tr>
        }
        else
        {
            <tr>
                <td>-</td>
                <td>Не удалось определить интерпретацию</td>
                <td>-</td>
            </tr>
        }
    </table>
    <div class="recommendations-form">
        <div class="title">
            Рекомендации:
        </div>
        <!-- Компетенции -->
        <div class="section-header">
            <h3>Вместе с тем, следует поддерживать на должном лидерском уровне следующие компетенции:</h3>
            <div id="competencesContainer" class="recommendations-wrapper">
                @foreach (var item in Model.CompetenceRecommendations)
                {
                    <div class="input-group">
                        <input type="text" value="@item.Value" class="form-control" />
                        <input type="hidden" class="item-id" value="@item.Id" />
                        <input type="hidden" class="grade-id" value="@item.GradeId" />
                        <button type="button" class="remove-btn" onclick="removeField(this)"><i class="fa-solid fa-circle-xmark" style="color: #f92424;"></i></button>
                    </div>
                }
            </div>
            <div class="add_row_btn add_project" onclick="addNewField('competencesContainer', @Model.GradeId)"><i class="fa-solid fa-circle-plus"></i> Добавить</div>
        </div>

        <!-- Бизнес-литература -->
        <div class="section-header">
            <h3>Изучение бизнес-литературы:</h3>
            <div id="literatureContainer" class="recommendations-wrapper">
                @foreach (var item in Model.LiteratureRecommendations)
                {
                    <div class="input-group">
                        <input type="text" value="@item.Value" class="form-control" />
                        <input type="hidden" class="item-id" value="@item.Id" />
                        <input type="hidden" class="grade-id" value="@item.GradeId" />
                        <button type="button" class="remove-btn" onclick="removeField(this)"><i class="fa-solid fa-circle-xmark" style="color: #f92424;"></i></button>
                    </div>
                }
            </div>
            <div class="add_row_btn add_project" onclick="addNewField('literatureContainer', @Model.GradeId)"><i class="fa-solid fa-circle-plus"></i> Добавить</div>
        </div>

        <!-- Курсы -->
        <div class="section-header">
            <h3>Электронный курс на Корпоративном Портале МТSpace:</h3>
            <div id="coursesContainer" class="recommendations-wrapper">
                @foreach (var item in Model.CourseRecommendations)
                {
                    <div class="input-group">
                        <input type="text" value="@item.Value" class="form-control" />
                        <input type="hidden" class="item-id" value="@item.Id" />
                        <input type="hidden" class="grade-id" value="@item.GradeId" />
                        <button type="button" class="remove-btn" onclick="removeField(this)"><i class="fa-solid fa-circle-xmark" style="color: #f92424;"></i></button>
                    </div>
                }
            </div>
            <div class="add_row_btn add_project" onclick="addNewField('coursesContainer', @Model.GradeId)"><i class="fa-solid fa-circle-plus"></i> Добавить</div>
        </div>

        <!-- Семинары -->
        <div class="section-header">
            <h3>Семинары, тренинги, курсы, конференции и иное:</h3>
            <div id="seminarsContainer" class="recommendations-wrapper">
                @foreach (var item in Model.SeminarRecommendations)
                {
                    <div class="input-group">
                        <input type="text" value="@item.Value" class="form-control" />
                        <input type="hidden" class="item-id" value="@item.Id" />
                        <input type="hidden" class="grade-id" value="@item.GradeId" />
                        <button type="button" class="remove-btn" onclick="removeField(this)"><i class="fa-solid fa-circle-xmark" style="color: #f92424;"></i></button>
                    </div>
                }
            </div>
            <div class="add_row_btn add_project" onclick="addNewField('seminarsContainer', @Model.GradeId)"><i class="fa-solid fa-circle-plus"></i> Добавить</div>
        </div>

        <button type="button" class="action_btn primary_btn save-btn" onclick="saveRecommendations(@Model.UserId)">Сохранить</button>
    </div>
</div>

<style>
    .input-group.deleted {
        opacity: 0.6;
        background-color: #ffecec;
        border-left: 3px solid #ff6b6b;
    }

        .input-group.deleted input[type="text"] {
            text-decoration: line-through;
            background-color: transparent;
        }

    .restore-btn {
        background: none;
        border: none;
        color: #4CAF50;
        cursor: pointer;
        font-size: 1.2em;
        margin-left: 8px;
    }

    .remove-btn {
        /* Ваши существующие стили */
    }
</style>