@model List<KOP.Common.Dtos.UserSummaryDto>

<div class="home-content">
    <div class="home_content_info">
        <div class="home_content_info_icon">
            <i class="fa-solid fa-folder"></i>
        </div>
        <div class="mid_title">
            Сотрудники
        </div>
    </div>
</div>
<div class="main_container_content">
    <section class="tab_filter_search_container margin_container_bottom_small">
        <div class="searchbox_main_wrapper">
            <input type="text" class="searchbox" id="searchbox" placeholder="Введите ФИО" onkeyup="searchBoxKeyUp(this,'divsTable')">
            <i class="fa-solid fa-magnifying-glass searchbox_icon"></i>
        </div>
    </section>
    <section class="list_users_archive_container">
        <div class="list_division_users_wrapper">
            <div class="d-table table_users">
                <div class="d-tr-th table_header">
                    <div class="d-th table_header_elem number">#</div>
                    <div class="d-th table_header_elem">ФИО</div>
                    <div class="d-th table_header_elem">Подразделение</div>
                    <div class="d-th table_header_elem">Должность</div>
                </div>
                @{
                    int count = 1;
                }
                <div class="d-tbody">
                    @foreach (var user in Model)
                    {
                        <div class="d-tr">
                            <div class="d-td number">@(count++)</div>
                            <div onclick="openUserLayout(@user.Id)" class="d-td fullname">@user.FullName</div>
                            <div class="d-td">@user.SubdivisionFromFile</div>
                            <div class="d-td">@user.Position</div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
</div>

<script src="/js/adminScript.js"></script>